<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150704483909-mjt65jdgr8397omjaefcj4isfbalgpgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150704483909-mjt65jdgr8397omjaefcj4isfbalgpgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCBGIK-UbeNL6weEw4P5DQtqh8E5bF76Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>150704483909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iansolomein.LoginUI</string>
	<key>PROJECT_ID</key>
	<string>fir-example-7c324</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-7c324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150704483909:ios:a3c5e9eabebd2eb3ec7d2c</string>
</dict>
</plist>